@model ContactModel
@{
    ViewData["Title"] = "Delete confirm";
}

<div class="text-center">
    
    <h3>Confirm exclusion? <h3 class="RedColor">(@Model.Name)</h3> </h3>
</div>

<a class="btn btn-primary" role="button" asp-controller="Contact" asp-action="Index">Cancel</a>
<a class="btn btn-danger" role="button" asp-route-id="@Model.Id" asp-controller="Contact" asp-action="Delete">Confirm</a>