@{
    ViewData["Title"] = "Delete confirm";
}

<div class="text-center">
    <h3>Confirm exclusion?</h3>
</div>

<a class="btn btn-primary" role="button" asp-controller="Contact" asp-action="Index">Cancel</a>
<a class="btn btn-danger" role="button" asp-controller="Contact" asp-action="Delete">Confirm</a>